@font-face {
  /* font-family: 'catamaran_regular';
  src: url('./fonts/Catamaran-Regular.ttf') format('ttf'),
    url('./fonts/catamaran-regular.woff2') format('woff2');
  font-weight: normal;
  font-style: normal; */
}
